.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.deleteButton {
  background: rgb(62, 62, 248);
  border: none;
  border-radius: 4px;
  font-weight: bold;
}
.deleteButton:hover {
  background-color: blue;
  color: black;
}
